body {
    font-family: 'Lato', Verdana;
    background: white(176, 204, 233);
    overflow: auto;
    height: 100%;
    padding: 0;
    max-height: 100%;
    margin:0;
    
    }
    hr{
      margin: 20px 0;
        padding: 0;
        height: 0;
        border: none;
        box-shadow: 0 0 10px 1px black;
    }
    .adaptivny-slayder {
      position: relative;
      max-width: 680px;
      margin: 50px auto;
      box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
    }
    * {
      box-sizing: border-box;
    }
    body {
      background: #ffffff;
    }
    .postcard {
      max-width: 350px;
      margin: 50px auto 0;
      padding: 20px;
      background: #ffffff;
      border: 10px solid transparent;
      border-image: 10 repeating-linear-gradient(135deg, #C42061, #C42061 10px, transparent 10px, transparent 20px, #ffffff 20px, #ffffff 30px, transparent 30px, transparent 40px);
      font-family: 'Playfair Display';
      color: #605756;
    }
    .form-row {
      margin-bottom: 15px;
    }
    .form-row input[type="text"], .form-row input[type="email"], .form-row textarea {
      width: 100%;
      padding: 0 10px;
      line-height: 35px;
      border-width: 0;
      outline: none;
      background: transparent url(https://html5book.ru/wp-content/uploads/2016/12/bg-form.png) bottom left repeat-x;
      background-size: 8px 35px;
      font-family: 'Playfair Display';
    }
    .form-row textarea {
      background-attachment: local;
      background-repeat: repeat;
      resize: none;
    }
    .form-row input[type="submit"] {
      padding: 10px 20px;
      margin-top: 10px;
      background: #ffffff;
      border-width: 0;
      cursor: pointer;
      outline: none;
      font-family: 'Playfair Display';
      font-size: 13px;
      letter-spacing: 1px;
      color: #fffdee;
      text-transform: uppercase;
      transition: 1s cubic-bezier(.165, .84, .44, 1);
    }
    .form-row input[type=submit]:hover {
      background: #ffffff;
    }
    .adaptivny-slayder input[name="kadoves"] {
      display: none;
    }
    
    .kadoves {
      position: absolute;
      left: 0;
      bottom: -40px;
      text-align: center;
      width: 100%;
    }
    
    .kadoves label {
      display: inline-block;
      width: 8px;
      height: 8px;
      cursor: pointer;
      margin: 0 3px;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
      border-radius: 50%;
      border: 5px solid #2f363c;
      background-color: #738290;
    }
    
    #slaid1:checked~.kadoves label[for="slaid1"] {
      background-color: white;
    }
    
    #slaid2:checked~.kadoves label[for="slaid2"] {
      background-color: white;
    }
    
    #slaid3:checked~.kadoves label[for="slaid3"] {
      background-color: white;
    }
    
    .adaptivny-slayder-lasekun {
      overflow: hidden;
       
    }
    
    .abusteku-deagulus {
      display: flex;
      width: 100%;
      transition: all 0.5s;
    }
    
    .abusteku-deagulus img {
      width: 100%;
      flex-shrink:0;
    }
    
    #slaid1:checked~adaptivny-slayder-lasekun abusteku-deagulus {
      transform: translate(0);
    }
    
    #slaid2:checked~.adaptivny-slayder-lasekun .abusteku-deagulus {
      transform: translateX(-100%);
    }
    
    #slaid3:checked~.adaptivny-slayder-lasekun .abusteku-deagulus {
      transform: translateX(-200%);
    }
    
    
    header{
        top: 15000px; 
        left: 2000px;
        background:rgb(255, 255, 255);
        background-size: cover;
        border-radius:  15px 15px 15px 15px;
        text-align: center;
      
        
    }
    h1{
      top: 15000px; 
        left: 2000px;
        background:white;
        /*background: url(fon.jpg);*/
        border-radius:  15px 15px 0 0;
       
        padding: 15px;
        text-align: center;
    }
    h3{
      top: 15000px; 
        left: 2000px;
        background:white;
        /*background: url(fon.jpg);*/
        border-radius:   0 0 15px 15px;
        text-align: center;
        padding: 15px;
       
    }
    h2{
      position:relative;
        background:white;
        border-radius:  15px 15px 15px 15px;
        padding: 15px;
        text-align: center;
    }
    table {
      border-collapse: collapse;
     margin: auto;
      border: 2px solid rgb(200,200,200);
      letter-spacing: 1px;
      font-size: 0.8rem;
    }
    
    td, th {
      border: 1px solid rgb(190,190,190);
      padding: 10px 20px;
    }
    
    th {
      background-color: rgb(235,235,235);
    }
    
    td {
      text-align: center;
    }
    
    tr:nth-child(0) td {
      background-color: rgb(250,250,250);
    }
    
    
    
    caption {
      padding: 10px;
    }
    button{
      background-color:white;
      font-family: 'Roboto',sans-serif;
        border: 1px solid black;
        color:rgb(41, 40, 40);
        cursor: pointer;
        margin: auto;
      margin-left: 100px;
      padding: 10px 24px;
      text-decoration: none;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 100px;   
    }
    .btngr button{
    
    
      background-color:white;
      font-family: 'Roboto',sans-serif;
        border: 0.5px solid white;
        color:rgb(41, 40, 40);
        cursor: pointer;
      margin-left: 100px;
      padding: 10px 24px;
      text-decoration: none;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 100px;   
    }
    a{
      text-decoration: none;
      color: rgb(31, 30, 30);
    }
    
    
    a:hover{
     border-bottom: 5px;
      color: rgb(128, 127, 127);
    }
    
    p{
      margin-left: 80px;
      margin-right: 80x;
    color: #2d2e2e;
    position:relative;
    text-align: center;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif
    }
    
    
    form{
      background: url(боулинг.jpg);
      background-size: 100%;
          border-radius: 5px;
          size: 500px;
          height: 600px;
              width: 1200px;
        
    }
    * {
        box-sizing: border-box;
     }
     body {
        background: #ffffff;
     }
     .decor {
        position: relative;
        max-width: 400px;
        margin: 50px auto 0;
        background: white;
        border-radius: 30px;
     }
     .form-left-decoration, .form-right-decoration {
        content: "";
        position: absolute;
        width: 50px;
        height: 20px;
        background: #f69a73;
        border-radius: 20px;
     }
     .form-left-decoration {
        bottom: 60px;
        left: -30px;
     }
     .form-right-decoration {
        top: 60px;
        right: -30px;
     }
     .form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 20px;
        border-radius: 30px;
        background: white;
     }
     .form-left-decoration:before {
        top: -20px;
     }
     .form-left-decoration:after {
        top: 20px;
        left: 10px;
     }
     .form-right-decoration:before {
        top: -20px;
        right: 0;
     }
     .form-right-decoration:after {
        top: 20px;
        right: 10px;
     }
     .circle {
        position: absolute;
        bottom: 80px;
        left: -55px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: white;
     }
     .form-inner {
        padding: 50px;
     }
     .form-inner input, .form-inner textarea {
        display: block;
        width: 100%;
        padding: 0 20px;
        margin-bottom: 10px;
        background: #E9EFF6;
        line-height: 40px;
        border-width: 0;
        border-radius: 20px;
        font-family: 'Roboto', sans-serif;
     }
     .form-inner input[type="submit"] {
        margin-top: 30px;
        background: #f69a73;
        border-bottom: 4px solid #d87d56;
        color: white;
        font-size: 14px;
     }
     .form-inner textarea {
        resize: none;
     }
     .form-inner h3 {
        margin-top: 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: #707981;
     }
    
    
    